# for mysql database
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_DATABASE=code-versations

# for sending email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=levietkhanh2k4@gmail.com
SMTP_PASS=

# facebook
FB_ACCESS_TOKEN=
FB_PAGE_ID=728175530380226